<div class='row' id="main-container">
  <div class='col-md-6' id="info-container">
    <form class="form login-form">

      <h2>Login</h2>

      <div class='form-group'>
        <input class='form-input' type='text' placeholder="Email" id='email-login'/>
        <input class='form-input' type='password' placeholder="Password" id='password-login'/>
     
        <button class='btn btn-primary' type='submit' id="main-btn">Login</button>
      </div>
    </form>
  </div>
  <div class='col-md-6' id="info-container">
    <form class="form signup-form">

      <h2>Signup</h2>

      <div class='form-group'>
        <input class='form-input' type='text' placeholder="Username" id='name-signup'/>
        <input class='form-input' type='text' placeholder="Email" id='email-signup'/>
        <input class='form-input' type='password' placeholder="Password" id='password-signup'/>
     
        <button class='btn btn-primary' type='submit' id="main-btn">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>