:root {
    --primary: #33b0AA;
    --secondary: #89e8e3;
    --tertiary: #42e3db;
    --quatrinary: #546665;
    --light: #ebebeb;
    --dark: #1d6360;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    border-bottom-style: solid;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    margin: 150px;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }

  nav ul{
    display: inline-flex;
    list-style-type: none;
    padding-top: 5px;
    margin-right: 5px;
  }

  h1{
    color: var(--light);
    font-size: 48px;
  }

  nav ul li a{
    text-decoration: none;
    color: var(--light);
    font-size: 24px;
    padding-left: 25px;
  }

  nav ul li a:hover{
    color: var(--dark);
  }

  form{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    border-radius: 10px;
    align-items: center;
  }
  
  form h2{
    font-size: 32px;
  }

  form .form-group{
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .form-group input, button{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
  }

  .form-group button{
    border-radius: 60px;
  }

  #main-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  #info-container{
    flex-basis: 25%;
    padding: 50px;
    display: inline-flex;
  }

  #info-contaner button{
    
  }

  